/* здесь используйте глобальные переменные */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
$base-color-text: #444444;
$bg-base-color: #68b738;
$bg-secondary-color: #f2f2f2;
