.button {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: $bg-base-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
