.card {
  position: relative;
  margin-top: -1px;
  padding: 20px 20px 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 37px 40px;
    width: 100%;
    border: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80%;
      background-color: $bg-secondary-color;
      z-index: -1;
    }
  }
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 100%;
  }
}

.card__image-link {
  display: block;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 200px;
    min-height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
}

.card__title-link {
  text-decoration: none;
}

.card__info-wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 14px;
  width: 76px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 21px;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__table {
  width: 140px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

.card__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__link {
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }
}
