.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 93%;
    max-width: 1220px;
  }
}

.catalog__title {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 41px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}
