.contacts {
  position: relative;
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 auto;
    width: 1220px;
  }
}

.contacts__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 20px;

  &--inner {
    background-color: $bg-secondary-color;
  }

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 0;
    padding: 61px 80px;
    width: 565px;
    background-color: #ffffff;
  }
}

.contacts__text {
  margin: 0;
  width: 140px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 200px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  margin: 0;
  width: 140px;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 157px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: auto;
  }
}

.contacts__map {
  display: block;
  margin: 0 auto;
  width: 100%;
}
