.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 20px;
&--inner {
  background-color: $bg-secondary-color;
}
}

.contacts__text {
  margin: 0;
  width: 140px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__adress {
  margin: 0;
  width: 140px;
  font-style: normal;
  line-height: 20px;
}

.contacts__map {
  display: block;
  margin: 0 auto;
}
