.features {
  padding-bottom: 49px;
}

.features__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.features__list {
  @include list-reset;
}

.features__item {
  margin-bottom: 26px;
  &:last-child {
    margin-bottom: 0;
  }
}

.features__text {
  margin: 0;
  padding-left: 80px;
  width: 300px;
}
