.features {
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    padding-top: 15px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.features__list {
  @include list-reset;
  margin: 0 auto;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 11px 60px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(250px, 4);
    gap: 0 80px;
  }
}

.features__item {
  position: relative;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $bg-base-color;

    @media (min-width: $tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 76px;
    z-index: -1;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $bg-secondary-color;
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 2px;
      right: 0;
    }
  }

  &--eco {
    &::before {
      background-image: url("../../images/icons/stack.svg#leaf-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 32px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "1";
        right: 15px;
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../../images/icons/stack.svg#powder-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 26px 29px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "2";
      }
    }
  }

  &--eat {
    &::before {
      background-image: url("../../images/icons/stack.svg#eat-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px 30px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "3";
      }
    }
  }

  &--time {
    &::before {
      background-image: url("../../images/icons/stack.svg#clock-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 26px 31px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "4";
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 151px 0 57px 0;
  }
}

.features__text {
  margin: 0;
  margin-left: auto;
  width: 200px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    width: 245px;
  }
}

.features__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
