.page__title {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 27px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.page__lead {
  margin: 0;
  margin-bottom: 39px;
  width: 226px;
  font-family: $secondary-font;
  color: #000000;
  text-transform: uppercase;
}
