.program__list {
  @include list-reset;
}

.program__item {
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
  background-color: $bg-secondary-color;
}

.program__title {
  margin: 0;
  margin-left: 90px;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.program__desc {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  display: block;
  padding-top: 19px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
