.submit {
  padding: 0 20px 32px;
}

.submit__button {
  margin-bottom: 21px;
  border: none;
  cursor: pointer;
}

.submit__note {
  display: block;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
