.symbol-logo {
  &--footer {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    padding-right: 34px;
  }
}

.symbol-logo__icon {
  display: block;
  fill: #68b738;

  &--footer {
    margin: 0 auto;
  }
}

